.idea
.env
.env.example
node_modules
public/js
public/css
resources/assets/js/vendor/
vendor/doctrine/common/lib/vendor/
vendor/doctrine/dbal/lib/vendor/
vendor/ezyang/htmlpurifier/plugins/phorum/htmlpurifier/
